/* Basic CSS stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-image: url(white\ paper.webp);
}

header {     
    padding: 75px;
    padding-left: 10px;

}

header  h1 {
    font-family: 'Fascinate';
    text-align: left;
    font-size: 175px;
    display: block;
    padding: 75px 75px 0 75px;
    margin: 0;
    line-height: 1.25;
    text-shadow: 5px 5px 5px #a3a3a3;
}

header h2 {
    display: block;
    padding-left: 100px;
    margin: 0;
    font-family: 'Cal Sans';
    letter-spacing: 2px;
    font-size: 40px;
    color: #5e5e64;
}

header a:link, header a:visited {
    color: #000000;
    text-decoration: none;
}

nav {
    padding: 25px 100px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Cal Sans';
    font-size: 35px;

}

nav li {
    padding: 15px 50px;
    border-radius: 50px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px #555555;
}

nav a:link, nav a:visited {
    color: #000000;
    text-decoration: none;
}

p {
    text-align: center;
    font-family: "Cal Sans";
    font-size: 25px;
    color: #444444;
    margin: 75px 200px 0px 200px;
    letter-spacing: 3px;
    line-height: 1.5;
}

/* Home Page Styles */

#home {
    display: grid;
    text-align: center;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 50px 150px 0 0;
}

.about {
    text-align: left;
    padding: 0px 0px 0px 200px;
    letter-spacing: 3px;
}

.about h2 {
    font-family: 'Lobster';
    font-size: 75px;
    padding: 15px;
    text-align: center;
    text-shadow: #818181 3px 3px 5px;
}

.about h3 {
    font-family: 'Fascinate';
    font-size: 50px;
    padding: 20px 20px 0;
    color: rgb(99, 201, 99);
    margin-bottom: 15px;
}

#intro {
    padding: 25px 35px;
    font-family: 'Cal Sans';
    color: #4b4b4b;
    font-size: 20px;
    background-color: #e6e6e6;
    border-radius: 50px;
    box-shadow: #b6b6b6 5px 5px 10px;
    margin: 0;
}

.portrait img {
    width: 500px;      
    height: 500px;    
    object-fit: cover; 
    border-radius: 50%;
    box-shadow: 5px 5px 10px #333333;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

.school {
    text-align: left;
    padding: 25px 0px 0px 200px;
    letter-spacing: 3px;
}

.school h3 {
    font-family: 'Lobster';
    font-size: 75px;
    padding-left: 25px;
    text-shadow: #818181 3px 3px 5px;
}

table {
    background-color: #c2c2c2;
    padding: 30px;
    border-radius: 60px;
    font-family: "Cal Sans";
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 10px;
    box-shadow: #979797 5px 5px 10px;
    margin-right: 50px;
}

th {
    font-size: 25px;
    color: #313131;
}

td {
    color: #4d4d4d;
}

.skills {
    text-align: left;
    padding: 25px 0px 0px 200px;
    letter-spacing: 3px;
}

.skills h3 {
    font-family: 'Lobster';
    font-size: 75px;
    padding-left: 25px;
    text-shadow: #818181 3px 3px 5px;
}

.skills ul {
    padding: 25px 0 25px 50px;
    font-family: 'Cal Sans';
    line-height: 2;
    color: #dbdbdb;
    background-color: #444444;
    border-radius: 50px;
    box-shadow: #b6b6b6 5px 5px 10px;
    margin-right: 300px;
    margin-bottom: 50px;
}

.socials {
    text-align: left;
    padding: 25px 0px 0px 200px;
    letter-spacing: 3px;
}

.socials h3 {
    font-family: 'Lobster';
    font-size: 75px;
    margin-top: 20px;
    text-shadow: #818181 3px 3px 5px;
}

.socials ul {
    padding: 25px 0 25px 30px;
    font-family: 'Cal Sans';
    color: #dbdbdb;
    background-color: #111549;
    border-radius: 50px;
    box-shadow: #b6b6b6 5px 5px 10px;
    margin-right: 250px;
}

.socials a:link, .socials a:visited {
    color: #dbdbdb;
    text-decoration: none;
    font-size: 20px;
    line-height: 2;
}

.software h3 {
    font-family: 'Lobster';
    font-size: 75px;
    margin: 30px 250px 50px 0px;
    text-shadow: #818181 3px 3px 5px;
}

.software ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.software img {   
    height: 100px;    
    filter: drop-shadow(3px 3px 5px #505050);
}

.feedback h3 {
    text-align: center;
    font-size: 60px;
    font-family:'Lobster';
    text-shadow: #818181 3px 3px 5px;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 25px 500px 75px 500px;
    background: #c7d4df;
    padding: 30px 60px 50px 60px;
    border-radius: 60px;
    box-shadow: #b6b6b6 5px 5px 10px;
}

label {
    text-align: start;
    font-size: 20px;
    font-family: 'Cal Sans';
    padding: 10px 0;
    color: #494949;
}

input, textarea{
    border: none;
    border-radius: 20px;
}

textarea {
    box-sizing: border-box;
    padding: 12px 15px 12px 15px;
}

input {
    padding: 10px
}

input[type="submit"] {
    margin: 25px 100px auto 100px;
    padding: 15px;
    background-color: #0559a7;
    font-family: 'Cal Sans';
    font-size: 30px;
    letter-spacing: 2.5px;
    color: #ffffff;
    box-shadow: #727272 4px 4px 7px;
    border-radius: 40px;
}

/* Graphic Design Styles */

#event {
    font-family: 'Lobster';
    font-size: 120px;
    padding: 20px;
    margin: 100px 0px 200px 0px;
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    text-shadow: #818181 3px 3px 5px;
}

#poster {
    font-family: 'Lobster';
    font-size: 120px;
    padding: 20px;
    margin: 50px 0px 50px 0px;
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    text-shadow: #818181 3px 3px 5px;
}

.events ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 150px 0px 300px 0px;
    gap: 50px;
    background-color: #e3eaf1;
    padding: 40px;
}

.events img {   
    filter: drop-shadow(3px 3px 7px #686868);
    height: 400px;
    position: relative;
    z-index: 2;
}

.phone {
    position: absolute;
    transform: translateX(760px) translateY(-860px);
    z-index: 1;
    height: 700px;
    filter: drop-shadow(5px 5px 10px #777777);
}


.posters{
    margin: 20px auto;
    width: 1500px;
    columns: 3;
    column-gap: 20px;
}

.posters .box{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
}

.posters .box img {
    max-width: 100%;
    border-radius: 20px;
}
/* 3D Modeling Styles */

#animate {
    font-family: 'Lobster';
    font-size: 120px;
    padding: 20px;
    margin: 75px 0px 15px 0px;
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    text-shadow: #818181 3px 3px 5px;
}

#model {
    font-family: 'Lobster';
    font-size: 120px;
    padding: 20px;
    margin: 100px 0px 50px 0px;
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    text-shadow: #818181 3px 3px 5px;
}

.animations video {
    max-width: 550px;
    width: 100%;
    box-shadow: 5px 5px 10px #000000;
    height: auto;
    background-color: #dadada;
    padding: 30px;
    border-radius: 20px;
}

.animations ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 75px 0px 200px 0px;
    gap: 50px;
    background-color: rgb(202, 202, 202);
    padding: 75px;
    box-shadow: #333333 5px 5px 15px;
}

.character{
    margin: 50px auto;
    width: 1550px;
    columns: 4;
    column-gap: 20px;
}

.character .box{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
}

.character .box img {
    max-width: 100%;
    border-radius: 20px;
}

/* Personal Styles */

.artwork{
    margin: 100px auto;
    width: 1550px;
    columns: 3;
    column-gap: 20px;
}

.artwork .box{
    width: 100%;
    margin-bottom: 20px;
    break-inside: avoid;
}

.artwork .box img {
    max-width: 100%;
    border-radius: 20px;
}

#concept {
    font-family: 'Lobster';
    font-size: 120px;
    padding: 20px;
    margin: 50px 0px 50px 0px;
    text-align: center;
    color: #000000;
    letter-spacing: 5px;
    text-shadow: #818181 3px 3px 5px;
}

/* Footer Styles */

footer { 
    background-color: #bdbdbd;
    text-align: center;
    padding: 50px;
    color: #3d3d3d;
    font-style: italic;
}

footer a:link, footer a:visited {
    color:#000000;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-style: normal;
}